<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gasolinera_r.My.MySettings.repsol_dbConnectionString"
            connectionString="Data Source=DESKTOP-QNU3P7L\SQLEXPRESS;Initial Catalog=repsol_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gasolinera_r.My.MySettings.repsol_dbConnectionString1"
            connectionString="Data Source=DESKTOP-7D48A36\SQLEXPRESS;Initial Catalog=repsol_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>